
<nav class="navbar pl-5 navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Ecommerce</a>
  <button class="btn btn-outline-success" (click)="productPannel()">Product Pannel</button>
  <button class="btn btn-outline-success" (click)="adminPannel()">Admin Pannel</button>
  <button class="btn btn-outline-success" (click)="addProduct()">Add Product</button>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<nav class=" fixed-bottom navbar pl-5 navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">Project Made By Varun Kalra</a>
  </div>
</nav>